/****
Reset
****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********
Header
********/
header {
    background-color: #add8e6;
    padding: 16px 0px;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

nav.container {
    display: flex;
}

nav > * {
    background-color: #daa520;
    padding: 10px;
    border: 1px dashed black;
    display: flex;
    flex-grow: 1;
}

nav ul {
    justify-content: center;
    list-style: none;
    flex-grow: 3;
}

header nav #nav-login {
    justify-content: flex-end;
}

/******
Main
******/
main section {
    padding: 55px 0;
}

main :nth-child(odd) {
    background-color: #d3d3d3;
}

main section div.container.main-header {
    width: 900px;
    background-color: #ee82ee;
}

main section.main-header {
    background-color: #00008b;
}

main section div.container.main-footer {
    background-color: #228b22;
}

/***********************************
DEBUG   DA RIMUOVERE A FINE SVILUPPO
***********************************/
main section div.container {
    height: 500px;
    background-color: aqua;
 }

main section div.container.main-footer {
    height: 890px;
}

